<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-all">
        <div class="row pull-right margin-left-right">
          <a class="btn btn-info" routerLink="edit">Edit</a>
          <a class="btn btn-danger" (click)="onDelete()">Delete</a>
        </div>
        <h2 class="title margin-left-right">{{ class.name }}</h2>
        <hr>
        <p class="title margin-left-right">{{ class.description }}</p>
      </div>
    </div>
    <div class="panel-body">
      <div class="row pad-all">
          <app-flashcard-list></app-flashcard-list>
        </div>
      </div>
    </div>
