.flashcardHeader {
    background-color: azure;
    border: solid thin black;
    border-radius: 10px;
    padding: 0.4rem;
    font-size: 1.5rem;
 }
 .flashcardText {
 border-radius: 10px;
 padding: 5px;
 margin-top: .25rem;
 margin-left: 1rem;
 font-size: 1.5rem;
 }

 .flashcardQuestion {
    border-radius: 10px;
    padding: 5px;
    margin-top: .25rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    
   }

   .list-group-item{
      margin: 15px;
   }