@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar-brand span{
    font-family: "Poppins", sans-serif;
    position: relative;
    display: inline-block;
    font-size: 25px;
    color: #141240;
    letter-spacing: 5px;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }