<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/flashq" class="navbar-brand">
                <span style="--i:1">F</span>
                <span style="--i:2">l</span>
                <span style="--i:2">a</span>
                <span style="--i:3">s</span>
                <span style="--i:4">h</span>
                <span style="--i:4">Q</span>
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/classes">My Classes</a></li>
                        <li><a routerLink="/user">Profile</a></li>
                        <hr>
                        <li><a routerLink="/home">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


